@font-face {
	font-family: "Mojangles";
	src: url("assets/Mojang-Regular.ttf");
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 24px;
  color: #144031;
  background-color: #fff;
  font-family: helvetica, sans-serif;
}

body {
  width: 480px;
  margin: auto;
}

h1 {
 padding: 1rem 1rem;
 font-family: Mojangles;
 text-transform: uppercase;
 background-color: #1e1f21;
 color: #fff;
}
