@font-face {
	font-family: "Mojangles";
	src: url("assets/Mojang-Regular.ttf");
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 24px;
  color: #1e1f21;
  background-color: #fff;
  font-family: helvetica, sans-serif;
}

body {
  width: 480px;
  margin: auto;
}

h1 {
 padding: 1rem 1rem;
 font-family: Mojangles;
 text-transform: uppercase;
 background-color: #1e1f21;
 color: #fff;
}

h2 {
  font-family: Mojangles;
  font-size: 18px;
  padding-bottom: 0.5rem;
}

p {
  font-size: 16px;
  padding-bottom: 0.2rem;
}

a {
  font-size: 16px;
  text-decoration: none;
  color: #0e9620;
  text-transform: uppercase;
}

a:hover {
  color: #02fa23;
}

.content {
  display: grid;
  grid-template: repeat(3, 240px) / repeat(2, 240px);
  margin-bottom: 100px;
}

.text1, .text3 {
  padding: 2rem 1rem;
}
.text2 {
  padding: 2rem 1rem;
}

.image1 {
  background-image: url("assets/tree.webp");
  background-size: cover;
  background-position: center;
}

.image2 {
  background-image: url("assets/wood.png");
  background-size: cover;
  background-position: center;
}

.image3 {
  background-image: url("assets/minecraft-biomes-forest-1.jpg");
  background-size: cover;
  background-position: center;
}

